/* Styling for the entire portfolio page */
.portfolio {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Navigation buttons for Previous and Next portfolio */
  .portfolio-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .portfolio-nav-button {
    background-color: darkgray;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .portfolio-nav-button:hover {
    background-color: #f0f0f0;
  }

 /* Styling for the paintings inside the carousel */
.painting {
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.carousel-image {
  width: 100%; /* Ensure the image fits the container */
  height: 250px; /* Ensure the image fits the container */
  object-fit: cover; /* Prevent image distortion */
  border-radius: 3px; /* Optional: Add some rounded corners */
  transition: transform 0.3s ease;
}

.carousel-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.painting-title {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.painting-title span {
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

.slick-prev:before, .slick-next:before {
  font-size: 35px;
  color: black; /* Or any color that ensures visibility */
}

.slick-prev {
  left: 10px; /* Adjust if needed */
  z-index: 1;
}

.slick-next {
  right: 10px; /* Adjust if needed */
  z-index: 1;
}


/* Modal styles for image enlargement */
.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .painting-title {
    font-size: 14px;
  }
  .carousel-image {
    height: 200px; /* Slightly smaller for tablets */
  }
}

@media (max-width: 768px) {
  .painting-title {
    font-size: 12px;
  }
  .carousel-image {
    height: 150px; /* Smaller for mobile devices */
  }
}